.AboutMe {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-container h1 {
    font-size: 3.5vw;
}

.me-container p {
    text-align: center;
    padding-inline: 20vw;
}

